{% load static %}
<html>
<head>
    <title>Yoder Covid Tracker</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'covid_style.css' %}">
    <nav>
        <a class="nav-link " href={%url "home"%}>Home</a>
        <a class="nav-link " href={%url "comparison"%}>All Counties Comparison</a>
        <a class="nav-link " href={%url "philly"%}>Philly, PA</a>
        <a class="nav-link " href={%url "somerset"%}>Somerset, PA</a>
        <a class="nav-link " href={%url "king"%}>King, WA</a>
        <a class="nav-link " href={%url "oklahoma"%}>Oklahoma, OK</a>
        <a class="nav-link " href={%url "cleveland"%}>Cleveland, OK</a>
        <a class="nav-link " href={%url "kane"%}>Kane, IL</a>
{#        <a class="nav-link " href={%url "dupage"%}>Dupage, IL</a>#}
        <a class="nav-link " href={%url "los_angeles"%}>Los Angeles, CA</a>
        <a class="nav-link " href={%url "sources"%}>Sources</a>

    </nav>
	<h1>{% block subtitle %} {% endblock subtitle %}</h1>
	{% block content %} {% endblock content %}
</body>
</html>
