{% extends 'base.jinja2' %}

{% block subtitle %} Comparison {% endblock subtitle %}

{% block content %}

    {{ comparison.cases_fig_html|safe }}
        <p><b>Tip:</b> Hover over any of the plots to reveal Interactive Navigation tools
        (bottom left corner) or over plotted line to show a days value! </p>
    {{ comparison.recent_cases_fig_html|safe }}
    {{ comparison.deaths_fig_html|safe }}
    {{ comparison.recent_deaths_fig_html|safe }}

{% endblock content %}
