{% extends 'base.jinja2' %}

{% block subtitle %}
    <div class="bg-text">Covid data for some places that matter</div>
{% endblock subtitle %}

{% block content %}
    <div class="bg-image"></div>

{% endblock content %}
